{% load bootstrap4 %}
{% bootstrap_css %}

{% bootstrap_javascript jquery='full' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<body style="background: rgb(219, 219, 219);">

    <nav class="navbar bg-dark navbar-dark navbar-expand-md">
        <a class="navbar-brand" href="">Home</a>
        <div class="collapse navbar-collapse" id="navbarCollapse"></div>
        <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link text-white" href="{% url 'whiteboard_app:index' %}">Whiteboard</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="{% url 'whiteboard_app:createPost' %}">Create post</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="{% url 'whiteboard_app:createUser' %}">Create user</a></li>
            {% if user.is_superuser %}
                <li class="nav-item"><a class="nav-link text-white" href="{% url 'whiteboard_app:adminPage' %}">Admin</a></li>
            {% endif %}
            <li class="nav-item"><a class="nav-link text-white" href="{% url 'login_app:logout' %}">Logout</a></li>
        {% else %}
            <li class="nav-item"><a class="nav-link text-white" href="{% url 'login_app:login' %}">Login</a></li>
        {% endif %}
        </ul>
    </nav>

    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
    {% block javascript %}{% endblock %}

</body>

</html>
